.root {
     -fx-background-image: url("background.jpg");
}

#track-text {
   -fx-font-size: 28px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#track-time {
   -fx-font-size: 28px;
   -fx-font-family: "Arial Black";
   -fx-fill: #191970;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button{
   -fx-font-size: 15px;
   -fx-font-family: "Arial Black";
   -fx-fill: #191970;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#load-btn{
   -fx-font-size: 10px;
   -fx-font-family: "Arial Black";
   -fx-fill: #191970;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#volume-txt{
   -fx-font-size: 15px;
}